.text_style {
    color: #401A04;
    font-size: 5rem;
    font-weight: 800;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    font-family: source-code-pro;
}